{
  "globals": {
    "NodeJS": true,
    "$fetch": true
  },
  "plugins": ["jsdoc"],
  "extends": [
    "plugin:jsdoc/recommended",
    "@nuxtjs/eslint-config-typescript"
  ],
  "rules": {
    "no-console": "off",
    "vue/one-component-per-file": "off",
    "vue/require-default-prop": "off",
    "jsdoc/require-jsdoc": "off",
    "jsdoc/require-param": "off",
    "jsdoc/require-returns": "off",
    "jsdoc/require-param-type": "off"
  },
  "settings": {
    "jsdoc": {
      "tagNamePreference": {
        "warning": "warning",
        "note": "note"
      }
    }
  },
  "overrides": [
    {
      "files": ["*.vue"],
      "rules": {
        "@typescript-eslint/no-unused-vars": "off"
      }
    },
    {
      "files": [
        "packages/nuxt3/src/**/*"
      ],
      "excludedFiles": [
        "packages/nuxt3/src/*",
        "packages/nuxt3/src/app/**/*",
        "packages/nuxt3/src/core/**/*"
      ],
      "rules": {
        "no-restricted-imports": [ "error", {
          "patterns": [{
            "group": ["**/core", "**/app"],
            "message": "Modules should not directly import from app and core."
          }]
        }]
      }
    }
  ]
}
